h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.container-fluid{
  padding: 3% 15%;
}
.navbar{
  position: sticky;
  top: 10px;
}

#title{
  background-color: #ff4c68;
}
